a {
    text-decoration: none;
    color: rgb(3, 3, 73);
}

.index-header {
    background-color: rgb(120, 200, 236);
    color: rgb(3, 3, 73);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.index-box {
    background-color: aliceblue;
    color: rgb(3, 3, 73);
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.box-item {
    margin: 5px;
    padding: 5px;
    width: 170px;
}

.index-header, .index-footer {
    text-align: center;
}

img {
    width: 150px;
    height: auto;
}

ul {
    list-style-type: square;
}